<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
    <menuContribution 
        locationURI="popup:org.python.pydev.editor.PythonEditor.EditorContext">
    <dynamic
        class="org.eclipse.ecf.docshare.menu.DocShareRosterMenuContributionItem"
        id="PyDevECF">
    </dynamic>
  </menuContribution>
   </extension>

</plugin>
